@yellow: #3bafed;

.margenes(@top, @bottom) {
	margin-top: @top;
	margin-bottom: @bottom;
}

.jumbotron {
	background-color: @yellow;
	color: black;
	margin-top: 55px;
	.margenes (55px, 0px)
	}

footer {
	padding: 10px 10px 0 10px;
	background-color: @yellow;
	.margenes (0px, 0px)
}

.card-idiom {
	flex: 1 150px;
	padding: 5px 5px 10px 5px;
	border-radius: 20px;
	.margenes (10px, 0px)
}

.btn-reserva {
	width: 100%;
	border-radius: 10px;
}

.footer-address-icon {
	padding-right: 5px;
}

.table-icon {
	padding-right: 5px;
}

.newsletter {
	color: black;
	text-decoration: none;
}