.jumbotron {
  background-color: #3bafed;
  color: black;
  margin-top: 55px;
  margin-bottom: 0px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #3bafed;
  margin-top: 0px;
  margin-bottom: 0px;
}
.card-idiom {
  flex: 1 150px;
  padding: 5px 5px 10px 5px;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 10px;
}
.footer-address-icon {
  padding-right: 5px;
}
.table-icon {
  padding-right: 5px;
}
.newsletter {
  color: black;
  text-decoration: none;
}
